body {
  font-size: 300%;
  -webkit-transition-duration: .1s;
       -o-transition-duration: .1s;
          transition-duration: .1s;
}

strong {
  font-weight: 500;
}
a {
  color: rgb(0, 160, 160);
}

a:hover {
  color: rgb(0, 220, 220);
}

.parallax__img {
    display: block;
    min-width: 100%;
    max-width: 120%;
    min-height: 100%;
}

.parallax1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
    height: 100vh;
}
  .parallax1__screen {
      position: absolute;
      top: 0;
      left: 0;
      height: 100vh;
      width: 100vw;
    background-color: white;
    opacity: 1;
  }

  .parallax1__screen--go {
    -webkit-animation: sink-screen 1.5s forwards ease-in;
            animation: sink-screen 1.5s forwards ease-in;
  }

  .parallax1__header {
      position: relative;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      padding: 2vw;
      height: -webkit-fit-content;
      height: -moz-fit-content;
      height: fit-content;
    -webkit-animation: header-fade-in 3s 0.75s forwards;
            animation: header-fade-in 3s 0.75s forwards;
  }

    .parallax__header__h1 {
        position: relative;
        max-width: -webkit-fit-content;
        max-width: -moz-fit-content;
        max-width: fit-content;
        margin: 0;
      color: rgb(255, 255, 205);
      -webkit-transition: color .4s ease;
      -o-transition: color .4s ease;
      transition: color .4s ease;
      font-size: 350%;
    }

    .parallax__header__h1:hover {
      color: rgb(255, 180, 180);
    }

      .parallax__header__h1 span {
        margin: -5px;
        position: relative; /* needed for z-index to work */
      }

        .z1 {z-index: 1}
        .z2 {z-index: 2}
        .z3 {z-index: 3}
        .z4 {z-index: 4}
        .z5 {z-index: 5}
        .z6 {z-index: 6}
        .z7 {z-index: 7}
        .z8 {z-index: 8}
        .z9 {z-index: 9}
        .z10 {z-index: 10}
        .z11 {z-index: 11}
        .z12 {z-index: 12}
        .z13 {z-index: 13}
        .z14 {z-index: 14}
        .z15 {z-index: 15}

    .parallax1__header__h5 {
      color: white;
      opacity: 0;
      -webkit-animation: h5-fade-in 2s .5s forwards ease;
              animation: h5-fade-in 2s .5s forwards ease;
      font-size: 105%;
      font-family: 'Courier New', Courier, monospace;
    }

  .arrow {
      position: absolute;
      -ms-flex-item-align: center;
          -ms-grid-row-align: center;
          align-self: center;
      bottom: -25%;
    font-weight: 700;
    font-size: 800%;
  }

.about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 92vh;
  -webkit-box-shadow: 0 -2px 2px 0 rgba(30, 30, 30, 0.25);
          box-shadow: 0 -2px 2px 0 rgba(30, 30, 30, 0.25);
}

  .about__left {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      min-width: 30vw;
  }

    .about__left__myPhoto {
        height: 25vh;
        width: 25vh;
        margin: 10vh 5vh 3vh 5vh;
      border-radius: 100px;
      -webkit-box-shadow: 
        0px -2px 0 black,
        0px 2px 0 black,
        -2px -2px 0 magenta,
        2px 2px 0 magenta,
        -4px 0px 0 yellow,
        4px 0px 0 yellow,
        -3px 3px 0 cyan,
        3px -3px 0 cyan;
              box-shadow: 
        0px -2px 0 black,
        0px 2px 0 black,
        -2px -2px 0 magenta,
        2px 2px 0 magenta,
        -4px 0px 0 yellow,
        4px 0px 0 yellow,
        -3px 3px 0 cyan,
        3px -3px 0 cyan;
    }

    .about__left__h5 {
      letter-spacing: 2px;
      font-size: 100%;
    }

    .about__left__h5--show {
      display: block;
    }

      .about__left__h5 span {
          font-size: 150%;
          text-shadow: 
            -1px -1px 0 magenta,
            1px 1px 0 magenta,
            -2px -2px 0 yellow,
            2px 2px 0 yellow,
            -4px -4px 0 cyan,
            4px 4px 0 cyan;
        }

  .about__right {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -ms-flex-pack: distribute;
          justify-content: space-around;
      width: 70vw;
      height: 70vh;
      /* height: fit-content; */
      margin: 10vh 5vw 10vh auto;
      padding: 2vh 3vw;
    background-color: lightyellow;
    border-radius: 2px;
    -webkit-box-shadow: 0 2px 5px rgba(20, 20, 20, 0.5);
            box-shadow: 0 2px 5px rgba(20, 20, 20, 0.5);
  }
    
    .introduction__p {
      letter-spacing: 1.5px;
      font-size: 100%;
    }

nav {
    position: relative;
    z-index: 1;
    height: 8vh;
    background-color: white;
    padding-bottom: 1vh;
  -webkit-box-shadow: 0 2px 1px 0 rgba(30, 30, 30, 0.25);
          box-shadow: 0 2px 1px 0 rgba(30, 30, 30, 0.25);
}

  .tabs {
      height: 7vh;
      width: 100vw;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  }

    nav a {
        font-size: 90% !important;
    }

.carousel-container {
    position: relative;
    z-index: 0;
}

.carousel {
    min-height: 92vh !important;
    width: 100vw !important;
    overflow-y: scroll;
}

  #portfolio {
    background-color: rgb(255, 230, 255);
    overflow: hidden;
  }

    .tile-container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -ms-flex-pack: distribute;
            justify-content: space-around;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        height: 92vh;
    }
    
      .tile { 
          position: relative;
          border: 10px solid white;
          margin: -10vw;
        background-color: rgb(255, 255, 255);
        border-radius: 100%;
        -webkit-box-shadow: 0 2px 5px -1px rgba(0, 0, 0, 0.4);
                box-shadow: 0 2px 5px -1px rgba(0, 0, 0, 0.4);
        -webkit-transition-duration: .5s;
             -o-transition-duration: .5s;
                transition-duration: .5s;
        -webkit-transition-timing-function: ease;
             -o-transition-timing-function: ease;
                transition-timing-function: ease;
        color: rgba(255, 255, 255, 0);
        overflow: hidden;
      }

      .tile:hover {
          top: 0;
          width: 60vw;
          height: 87vh;
          margin: 3vh;
          z-index: 4;
        border-radius: 10px;
        color: rgb(70, 70, 70);
      }

        .tile--small1 {
          z-index: 1;
          top: -10vh;
          height: 20vw;
          width: 20vw;
        }
        .tile--small2 {
          z-index: 1;
          top: -20vh;
          height: 20vw;
          width: 20vw;
        }
        .tile--med {
          z-index: 2;
          top: 0;
          height: 25vw;
          width: 25vw;
        }
        .tile--large {
          z-index: 3;
          top: 10vh;
          height: 35vw;
          width: 35vw;
        }

        .tile__links-container {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
                -ms-flex-direction: row;
                    flex-direction: row;
            -webkit-box-pack: end;
                -ms-flex-pack: end;
                    justify-content: flex-end;
            height: 15%;
          opacity: 0;
          -webkit-transition-duration: .5s;
               -o-transition-duration: .5s;
                  transition-duration: .5s;
        }
          .tile:hover .tile__links-container {
              height: 10%;
            opacity: 1;
          }

          .tile__link {
              height: 30px;
              width: 30px;
              margin: 15px 15px 0 0;
            background-size: cover;
          }
            /* icon by Austin Andrews (@Templarian on twitter) */
            .tile__link--github {            
              background-image: url('images/icons/github-circle-dark.png');
            }
            /* icon by Austin Andrews (@Templarian on twitter) */
            .tile__link--github:hover {
              background-image: url('images/icons/github-circle-light.png')
            }
            /* icon by Google (@Google on twitter) */
            .tile__link--deployed {
              background-image: url('images/icons/web-dark.png')
            }
            /* icon by Google (@Google on twitter) */
            .tile__link--deployed:hover {
              background-image: url('images/icons/web-light.png')
            }

        .tile__info {
            position: absolute;
            z-index: 1;
            height: 35%;
            width: 100%;
          background-color: white;
        }

          .tile__info__h4 {
              text-align: center;
              margin: 0 auto;
              
            font-size: 100%;
            color: rgb(70, 70, 70);
          }

          .tile__info__h6{
              text-align: center;
              margin: 2% 5% 3% 5%;
            font-size: 50%;
            color: rgb(20, 20, 20);
            font-weight: bold;
          }

          .tile__info__description {
              margin: 10px 30px;
              line-height: 1.5;
            font-size: 60%;
            letter-spacing: 1px;
            word-spacing: 1px;
          }

        .tile__image {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            position: absolute;
            top: 50%;
            height: 50%;
            width: 100%;
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;
          -webkit-box-shadow: 0 2px 5px 0px rgba(20, 20, 20, 0.5) inset;
                  box-shadow: 0 2px 5px 0px rgba(20, 20, 20, 0.5) inset;
        }

          .tile__image a {
              position: absolute;
              z-index: 0;
              opacity: 0;
            -webkit-transition-duration: .4s;
                 -o-transition-duration: .4s;
                    transition-duration: .4s;
            color: white;
          }



          .tile:hover .tile__image a {
              top: 40%;
            opacity: 1;
            -webkit-box-shadow: 0 0 100px 30px white;
                    box-shadow: 0 0 100px 30px white;
          }

        .tile__image--hanoi {
          background-image: url('images/tower_of_hanoi.png')
        }
        .tile__image--memorTree {
          background-image: url('images/memorTree.png')
        }
        .tile__image--codePOS {
          background-image: url('images/codePOS.png')
        }
        .tile__image--ga-aha {
          background-image: url('images/GA-Aha.png')

        }
    .circle {
        position: absolute;
        z-index: -1;
      border-radius: 100;
      background-color: white;
    }

    .circle-1 {
      z-index: -2;
      bottom: -140vh;
      left: -60vh;
      height: 200vh;
      width: 200vh;
      background-color: rgb(220, 255, 255);
      /* box-shadow: 0 2px 10px 0 rgba(20, 20, 20, 0.4) inset; */

    }

    .circle-2 {
      z-index: -1;
      top: -47vh;
      right: -42vh;
      height: 120vh;
      width: 120vh;
      background-color: rgb(255, 255, 220);
      /* box-shadow: 0 2px 10px 0 rgba(20, 20, 20, 0.4); */

    }

  #resume {
      display: -webkit-box !important;
      display: -ms-flexbox !important;
      display: flex !important;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
    background-color: rgb(255, 255, 220);  
  }

    .resume__h5 {
        margin: 2vw 3vw 1vw 3vw;
      font-size: 90%;
    }

    .collapsible-header {
        position: relative;
        padding: 5px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
      font-size: 60%;
    }

      .collapsible-header__icon {
          height: 25px;
          width: 25px;
          margin: 5px;
        opacity: .8;
      }
    
      .collapsible-header__content {
          margin: 5px;
      }

        .collapsible-header__content h6 {
          font-size: 100%;
        }

        .collapsible-header__content p {
            margin: 0;
          font-size: 70%;
          color: darkgrey;
        }
      
      .collapsible-header__plus {
          position: absolute;
          height: 5vh;
          width: 5vh;
        right: 10px;
        -webkit-transition-duration: .5s;
             -o-transition-duration: .5s;
                transition-duration: .5s;
        -webkit-transition-timing-function: ease;
             -o-transition-timing-function: ease;
                transition-timing-function: ease;
        }

        li .active .collapsible-header__plus {
          -webkit-transform: rotate(135deg);
              -ms-transform: rotate(135deg);
                  transform: rotate(135deg);
        }

    .collapsible-body {
      line-height: 1.75;
      letter-spacing: 1px;
      word-spacing: 1px;
      background-color: #fff7f7;
      font-size: 60%;
    }

    .resume__left {
        width: 65vw;
        margin: 10px;
        padding: 5px !important;
        height: 92vh;
    }

    .resume__right {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        width: 35vw;
        height: 92vh;
        margin: 10px 10px 10px 0;
        padding: 5px;
    }
      .resume__right p {
        font-size: 50%;
      }

      .resume__right .collapsible {
          width: 30vw;
      }

      .resume__right .collapsible-header {
        padding: 10px;
      }

    .square {
        position: absolute;
        z-index: -1;
      background-color: white;
    }

    .square-1 {
      z-index: -2;
      top: 62vh;
      left: 0;
      height: 70vh;
      width: 70vh;
      -webkit-transform: rotate(75deg);
          -ms-transform: rotate(75deg);
              transform: rotate(75deg);
      background-color: rgb(255, 230, 255);
      /* box-shadow: 2px 1px 10px 0 rgba(20, 20, 20, 0.4) inset; */
    }

    .square-2 {
      z-index: -1;
      top: -40vh;
      right: -39vh;
      height: 105vh;
      width: 105vh;
      -webkit-transform: rotate(50deg);
          -ms-transform: rotate(50deg);
              transform: rotate(50deg);
      background-color: rgb(220, 255, 255);
      /* box-shadow: 2px 2px 10px 0 rgba(20, 20, 20, 0.4); */

    }

  #contact {
    background-color: rgb(220, 255, 255);
    overflow: hidden;
  }
    
    .contact__container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        height: 92vh;
        width: 100vw;
    }

    .contact__container h5 {
        font-size: 100%;
      }

    .contact__left {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        height: 92vh;
        width: 75vw;
    }

      .form-container {
          z-index: 1;
          width: 50vw;
      }
        
        .form-container__h5 {
          text-align: center;
        }

        .form-container input {
            margin: 0 !important;
        }

        .form-container textarea {
            margin: 0 !important;
        } 

        .form-container label {
            font-size: 55%;
        }

        .button-container {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            margin: 5px;
        }
    
    .contact__right {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        width: 25vw;
        height: 92vh;
    }

      .contact__right h5 {
        font-size: 90%;
      }
      .contact__right__links {
          z-index: 1;
          position: absolute;
          margin: 50px auto;
        text-align: center;
      }

        .contact__right__links li {
            margin: 5px 40px;
          text-align: left;
          font-size: 65%;
        }

     .contact__left__triangle {
          position: absolute;
          top: 2.5vh;
          left: 3vh;
          height: 180vh;
          width: 180vh;
        font-size: 160vh;
        background-color: transparent;
        color: rgb(255, 255, 220);
        -webkit-transform: rotate(50deg);
            -ms-transform: rotate(50deg);
                transform: rotate(50deg);
      }

      .contact__right__triangle {
          position: absolute;
          top: -50vh;
          right: -45vh;
          height: 100vh;
          width: 100vh;
        font-size: 80vh;
        background-color: transparent;
        color: rgb(255, 230, 255);
        -webkit-transform: rotate(-40deg);
            -ms-transform: rotate(-40deg);
                transform: rotate(-40deg);
      }


@-webkit-keyframes sink-screen {
  0% {
    background-color: rgb(204, 230, 240);
    z-index: 16;
    opacity: 1;
  }
  20% {
    z-index: 12;
  }
  80% {
    opacity: 0.4;
    z-index: 4;
    background-color: rgb(204, 230, 240);
  }
  100% {
    background-color: white;
    z-index: 0;
    opacity: 0.1;
  }
}


@keyframes sink-screen {
  0% {
    background-color: rgb(204, 230, 240);
    z-index: 16;
    opacity: 1;
  }
  20% {
    z-index: 12;
  }
  80% {
    opacity: 0.4;
    z-index: 4;
    background-color: rgb(204, 230, 240);
  }
  100% {
    background-color: white;
    z-index: 0;
    opacity: 0.1;
  }
}

@-webkit-keyframes header-fade-in {
  0% {
    background-color: rgba(255, 255, 255, 0);
  }
  100% {
    background-color: rgba(20, 20, 20, 0.7);
  }
}

@keyframes header-fade-in {
  0% {
    background-color: rgba(255, 255, 255, 0);
  }
  100% {
    background-color: rgba(20, 20, 20, 0.7);
  }
}

@-webkit-keyframes h5-fade-in {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}

@keyframes h5-fade-in {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}

@media only screen and (min-width: 2600px) {
  body {
      font-size: 290%;
  }
}
@media only screen and (max-width: 2600px) {
  body {
      font-size: 280%;
  }
}
@media only screen and (max-width: 2500px) {
  body {
      font-size: 270%;
  }
}
@media only screen and (max-width: 2400px) {
  body {
      font-size: 260%;
  }
}
@media only screen and (max-width: 2300px) {
  body {
      font-size: 250%;
  }
}
@media only screen and (max-width: 2200px) {
  body {
      font-size: 240%;
  }
}
@media only screen and (max-width: 2100px) {
  body {
      font-size: 230%;
  }
}
@media only screen and (max-width: 2000px) {
  body {
      font-size: 220%;
  }
}
@media only screen and (max-width: 1900px) {
  body {
      font-size: 215%;
  }
}
@media only screen and (max-width: 1800px) {
  body {
      font-size: 210%;
  }
}
@media only screen and (max-width: 1700px) {
  body {
      font-size: 205%;
  }
}
@media only screen and (max-width: 1600px) {
  body {
      font-size: 200%;
  }
}
@media only screen and (max-width: 1500px) {
  body {
      font-size: 190%;
  }
}
@media only screen and (max-width: 1400px) {
  body {
      font-size: 180%;
  }
}
@media only screen and (max-width: 1300px) {
  body {
      font-size: 170%;
  }
}
@media only screen and (max-width: 1200px) {
  body {
      font-size: 165%;
  }
}
@media only screen and (max-width: 1100px) {
  body {
      font-size: 160%;
  }
}
@media only screen and (max-width: 1000px) {
  body {
      font-size: 155%;
  }
}
@media only screen and (max-width: 900px) {
  body {
      font-size: 150%;
  }
    .about {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      height: 95vh;
    }
      .about__left{
          -webkit-box-orient: horizontal;
          -webkit-box-direction: reverse;
              -ms-flex-direction: row-reverse;
                  flex-direction: row-reverse;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          -webkit-box-pack: center;
              -ms-flex-pack: center;
                  justify-content: center;
        height: 30vh;
      }
        .about__left__myPhoto {
            margin: 5vh;
            height: 20vh;
            width: 20vh;
        }
      .about__right {
        width: 90vw;
        height: 60vh;
        margin: auto;
      }
    nav {
      height: 5vh;
    }
    .carousel {
      min-height: 95vh !important;
    }
      .tile-container {
          height: 95vh;
          -webkit-box-orient: vertical;
          -webkit-box-direction: reverse;
              -ms-flex-direction: column-reverse;
                  flex-direction: column-reverse;
          -ms-flex-pack: distribute;
              justify-content: space-around;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
      }
        .tile:hover {
            top: 0;
            left: 0;
            width: 90vw;
            height: 80vh;
            margin: 3vh;
            z-index: 4;
          border-radius: 10px;
          color: rgb(70, 70, 70);
        }
        
        .tile--small1 {
            top: -5vh;
            left: -20vw;
            height: 25vh;
            width: 25vh;
        }
          .tile--small2 {
            top: 5vh;
            left: -30vw;
            height: 25vh;
            width: 25vh;
          }
          .tile--med {
            top: 5vh;
            left: 10vw;
            height: 30vh;
            width: 30vh;
          }
          .tile--large {
            top: -5vh;
            left: 20vw;
            height: 40vh;
            width: 40vh;
          }
      #resume {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;  
        height: 95vh;
      }
        .resume__h5 {
          margin: 5vh 3vw 2vh 3vw;
          text-align: center;
        }

        .resume__left {
          margin: auto;
          width: 90vw;
        }

        .resume__right {
          width: 90vw;
          margin: auto;
        }
          .resume__right .collapsible {
            width: 50vw;
            margin: auto;
          }
      .contact__container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        height: 95vh;
        width: 100vw;
      }
        .contact__container h5 {
          margin-top: 15vh;
        }
        
        .contact__right__links {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
              -ms-flex-direction: row;
                  flex-direction: row;
          margin: 15vh auto;
        }
          .contact__right__links h5 {
            margin: 0;
          }
          .contact__right__links ul {
            margin: 0;
          }
}

@media only screen and (max-width: 800px) {
  body {
      font-size: 140%;
  }
}
@media only screen and (max-width: 700px) {
  body {
      font-size: 130%;
  }
}
@media only screen and (max-width: 600px) {
  body {
      font-size: 120%;
  }
}
@media only screen and (max-width: 500px) {
  body {
      font-size: 110%;
  }
}
@media only screen and (max-width: 400px) {
  body {
      font-size: 100%;
  }
}