body {
  font-size: 100%;
}

strong {
  font-weight: 500;
}
a {
  color: rgb(0, 160, 160);
}

a:hover {
  color: rgb(0, 220, 220);
}

.parallax__img {
    display: block;
    min-width: 100%;
    max-width: 120%;
    min-height: 100%;
}

.parallax1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    height: 100vh;
}
  .parallax1__screen {
      position: absolute;
      top: 0;
      left: 0;
      height: 100vh;
      width: 100vw;
    background-color: white;
    opacity: 1;
  }

  .parallax1__screen--go {
    animation: sink-screen 1.5s forwards ease-in;
  }

  .parallax1__header {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 2vw;
      height: fit-content;
    animation: header-fade-in 3s 0.75s forwards;
  }

    .parallax__header__h1 {
        max-width: fit-content;
        margin: 0;
      color: rgb(255, 255, 205);
      transition: color .4s ease;
      font-size: 350%;
    }

    .parallax__header__h1:hover {
      color: rgb(255, 180, 180);
    }

      .parallax__header__h1 span {
        margin: -5px;
        position: relative; /* needed for z-index to work */

      }

        .z1 {z-index: 1}
        .z2 {z-index: 2}
        .z3 {z-index: 3}
        .z4 {z-index: 4}
        .z5 {z-index: 5}
        .z6 {z-index: 6}
        .z7 {z-index: 7}
        .z8 {z-index: 8}
        .z9 {z-index: 9}
        .z10 {z-index: 10}
        .z11 {z-index: 11}
        .z12 {z-index: 12}
        .z13 {z-index: 13}
        .z14 {z-index: 14}
        .z15 {z-index: 15}

    .parallax1__header__h5 {
      color: white;
      opacity: 0;
      animation: h5-fade-in 2s .5s forwards ease;
      font-size: 105%;
      font-family: 'Courier New', Courier, monospace;
    }

.about {
    display: flex;
    flex-direction: row;
    height: 92vh;
  box-shadow: 0 -2px 2px 0 rgba(30, 30, 30, 0.25);
}

  .about__left {
      display: flex;
      flex-direction: column;
      align-items: center;
      min-width: 30vw;
  }

    .about__left__myPhoto {
        height: 18vw;
        width: 18vw;
        margin: 10vh auto 3vh auto;
      border-radius: 100px;
      box-shadow: 
        0px -2px 0 black,
        0px 2px 0 black,
        -2px -2px 0 magenta,
        2px 2px 0 magenta,
        -4px 0px 0 yellow,
        4px 0px 0 yellow,
        -3px 3px 0 cyan,
        3px -3px 0 cyan;
    }

    .about__left__h5 {
      letter-spacing: 2px;
      font-size: 100%;
    }

    .about__left__h5--show {
      display: block;
    }

      .about__left__h5 span {
          font-size: 150%;
          text-shadow: 
            -1px -1px 0 magenta,
            1px 1px 0 magenta,
            -2px -2px 0 yellow,
            2px 2px 0 yellow,
            -4px -4px 0 cyan,
            4px 4px 0 cyan;
        }

  .about__right {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      width: 70vw;
      height: 70vh;
      /* height: fit-content; */
      margin: 10vh 5vw 10vh auto;
      padding: 2vh 3vw;
    background-color: lightyellow;
    border-radius: 2px;
    box-shadow:
      -2px 0px 0 darkgrey,
      2px 0px 0 darkgrey;
  }
    
    .introduction__p {
      letter-spacing: 1.5px;
      font-size: 100%;
    }

nav {
    position: relative;
    z-index: 1;
    height: 8vh;
    background-color: white;
    padding-bottom: 1vh;
  box-shadow: 0 2px 1px 0 rgba(30, 30, 30, 0.25);
}

  .tabs {
      height: 7vh;
      width: 100vw;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
  }

    nav a {
        font-size: 90% !important;
    }

.carousel-container {
    position: relative;
    z-index: 0;
}

.carousel {
    min-height: 92vh !important;
    width: 100vw !important;
    overflow-y: scroll;
}

  #portfolio {
    background-color: rgb(255, 230, 255);
    overflow: hidden;
  }

    .tile-container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        height: 92vh;
      /* animation: portfolio-expand 1s reverse; */
    }
    
      .tile { 
          position: relative;
          border: 10px solid white;
        background-color: rgb(255, 255, 255);
        border-radius: 100%;
        box-shadow: 0 3px 10px -1px rgba(0, 0, 0, 0.4);
        transition-duration: .5s;
        transition-timing-function: ease;
        color: rgba(255, 255, 255, 0);
        overflow: hidden;
      }

      .tile:hover {
          top: 0;
          width: 60vw;
          height: 87vh;
          margin: 3vh;
        border-radius: 10px;
        color: rgb(70, 70, 70);
      }

        .tile--small1 {
          top: -10vh;
          height: 20vw;
          width: 20vw;
        }
        .tile--small2 {
          top: -20vh;
          height: 20vw;
          width: 20vw;
        }
        .tile--med {
          top: 0;
          height: 25vw;
          width: 25vw;
        }
        .tile--large {
          top: 10vh;
          height: 35vw;
          width: 35vw;
        }

        .tile__links-container {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            height: 15%;
          opacity: 0;
          transition-duration: .5s;
        }
          .tile:hover .tile__links-container {
              height: 10%;
            opacity: 1;
          }

          .tile__link {
              height: 30px;
              width: 30px;
              margin: 15px 15px 0 0;
            background-size: cover;
          }
            /* icon by Austin Andrews (@Templarian on twitter) */
            .tile__link--github {            
              background-image: url('images/icons/github-circle-dark.png');
            }
            /* icon by Austin Andrews (@Templarian on twitter) */
            .tile__link--github:hover {
              background-image: url('images/icons/github-circle-light.png')
            }
            /* icon by Google (@Google on twitter) */
            .tile__link--deployed {
              background-image: url('images/icons/web-dark.png')
            }
            /* icon by Google (@Google on twitter) */
            .tile__link--deployed:hover {
              background-image: url('images/icons/web-light.png')
            }

        .tile__info {
            position: absolute;
            z-index: 1;
            height: 35%;
            width: 100%;
          background-color: white;
        }

          .tile__info__h4 {
              text-align: center;
              margin: 0 auto;
              
            font-size: 100%;
            color: rgb(70, 70, 70);
          }

          .tile__info__h6{
              text-align: center;
              margin: 2% 5% 3% 5%;
            font-size: 50%;
            color: rgb(20, 20, 20);
            font-weight: bold;
          }

          .tile__info__description {
              margin: 10px 30px;
              line-height: 1.5;
            font-size: 60%;
            letter-spacing: 1px;
            word-spacing: 1px;
          }

        .tile__image {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 50%;
            height: 50%;
            width: 100%;
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;
          box-shadow: 0 2px 5px 0px rgba(20, 20, 20, 0.5) inset;
        }

          .tile__image .btn {
            position: absolute;
            z-index: 0;
            opacity: 0;
            transition-duration: .4s
          }

          .tile:hover .tile__image .btn {
            top: 40%;
            opacity: 1;
            box-shadow: 0 0 100px 30px white;
          }

        .tile__image--hanoi {
          background-image: url('images/tower_of_hanoi.png')
        }
        .tile__image--memorTree {
          background-image: url('images/memorTree.png')
        }
        .tile__image--codePOS {
          background-image: url('images/codePOS.png')
        }
        .tile__image--ga-aha {
          background-image: url('images/GA-Aha.png')

        }
    .circle {
        position: absolute;
        z-index: -1;
      border-radius: 100;
      background-color: white;
    }

    .circle-1 {
      bottom: -140vh;
      left: -60vh;
      height: 200vh;
      width: 200vh;
      background-color: rgb(220, 255, 255);
    }

    .circle-2 {
      top: -47vh;
      right: -42vh;
      height: 120vh;
      width: 120vh;
      background-color: rgb(255, 255, 220);
    }

  #resume {
      display: flex !important;
      flex-direction: row;
    background-color: rgb(255, 255, 220);  
  }

    .resume__h5 {
        margin: 2vw 3vw 1vw 3vw;
      font-size: 90%;
    }

    .collapsible-header {
        padding: 5px;
        display: flex;
        flex-direction: row;
        align-items: center;
      font-size: 60%;
    }

      .collapsible-header__icon {
          height: 25px;
          width: 25px;
          margin: 5px;
        opacity: .8;
      }
    
      .collapsible-header__content {
          margin: 5px;
      }

      .collapsible-header__content h6 {
        font-size: 100%;
      }

      .collapsible-header__content p {
          margin: 0;
        font-size: 70%;
        color: darkgrey;
      }

    .collapsible-body {
      line-height: 1.75;
      letter-spacing: 1px;
      word-spacing: 1px;
      background-color: #fff7f7;
      font-size: 60%;
    }

    .resume__left {
        width: 65vw;
        margin: 10px;
        padding: 5px !important;
        height: 92vh;
        /* overflow: scroll; */
    }

    .resume__right {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 35vw;
        height: 92vh;
        margin: 10px 10px 10px 0;
        padding: 5px;
        /* overflow: scroll; */
    }
      .resume__right p {
        font-size: 50%;
      }

      .resume__right .collapsible {
          width: 30vw;
      }

      .resume__right .collapsible-header {
        padding: 15px;
      }

    .square {
        position: absolute;
        z-index: -1;
      background-color: white;
    }

    .square-1 {
      bottom: -40vh;
      left: 0;
      height: 70vh;
      width: 70vh;
      transform: rotate(-15deg);
      background-color: rgb(255, 230, 255);
    }

    .square-2 {
      top: -40vh;
      right: -38.5vh;
      height: 105vh;
      width: 105vh;
      transform: rotate(50deg);
      background-color: rgb(220, 255, 255)

    }

  #contact {
    background-color: rgb(220, 255, 255);
  }
    
    .contact__container {
        display: flex;
        flex-direction: row;
        /* justify-content: space-around; */
        height: 92vh;
        width: 100vw;
    }

    .contact__container h5 {
        font-size: 100%;
      }

    .contact__left {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 92vh;
        width: 75vw;
    }

      .form-container {
          z-index: 1;
          width: 50vw;
      }
        
        .form-container__h5 {
          text-align: center;
        }

        .form-container input {
            margin: 0 !important;
        }

        .form-container textarea {
            margin: 0 !important;
        } 

        .form-container label {
            font-size: 55%;
        }

        .button-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 5px;
        }
    
    .contact__right {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 25vw;
        height: 92vh;
    }

      .contact__right h5 {
        font-size: 90%;
      }
      .contact__right__links {
          z-index: 1;
          position: absolute;
          margin: 50px auto;
        text-align: center;
      }

        .contact__right__links li {
            margin: 5px 40px;
          text-align: left;
          font-size: 65%;
        }

     .contact__left__triangle {
          position: absolute;
          bottom: -20vh;
          left: -5vh;
          height: 0;
          width: 0;
          border-left: 65vh solid transparent;
          border-right: 65vh solid transparent;
          border-bottom: 112.6vh solid rgb(255, 255, 220);
        transform: rotate(20deg);

      }
      
      .contact__right__triangle {
        position: absolute;
        top: -14vh;
        right: 0;
        height: 0;
        width: 0;
        border-top: 32vh solid transparent;
        border-bottom: 32vh solid transparent;
        border-right: 55.4vh solid rgb(255, 230, 255);
      transform: rotate(-340deg);
    }


@keyframes sink-screen {
  0% {
    background-color: rgb(204, 230, 240);
    z-index: 16;
    opacity: 1;
  }
  20% {
    z-index: 12;
  }
  80% {
    opacity: 0.4;
    z-index: 4;
    background-color: rgb(204, 230, 240);
  }
  100% {
    background-color: white;
    z-index: 0;
    opacity: 0.1;
  }
}

@keyframes header-fade-in {
  0% {
    background-color: rgba(255, 255, 255, 0);
  }
  100% {
    background-color: rgba(20, 20, 20, 0.7);
  }
}

@keyframes h5-fade-in {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}


@media only screen and (min-width: 420px) {
  body {
      font-size: 104%;
  }
}
@media only screen and (min-width: 450px) {
  body {
      font-size: 108%;
  }
}
@media only screen and (min-width: 480px) {
  body {
      font-size: 112%;
  }
}
@media only screen and (min-width: 510px) {
  body {
      font-size: 116%;
  }
}
@media only screen and (min-width: 540px) {
  body {
      font-size: 120%;
  }
}
@media only screen and (min-width: 570px) {
  body {
      font-size: 124%;
  }
}
@media only screen and (min-width: 600px) {
  body {
      font-size: 128%;
  }
}
@media only screen and (min-width: 630px) {
  body {
      font-size: 132%;
  }
}
@media only screen and (min-width: 660px) {
  body {
      font-size: 136%;
  }
}
@media only screen and (min-width: 690px) {
  body {
      font-size: 140%;
  }
}
@media only screen and (min-width: 720px) {
  body {
      font-size: 144%;
  }
}
@media only screen and (min-width: 750px) {
  body {
      font-size: 146%;
  }
}
@media only screen and (min-width: 780px) {
  body {
      font-size: 148%;
  }
}
@media only screen and (min-width: 810px) {
  body {
      font-size: 150%;
  }
}
@media only screen and (min-width: 840px) {
  body {
      font-size: 152%;
  }
}
@media only screen and (min-width: 870px) {
  body {
      font-size: 154%;
  }
}
@media only screen and (min-width: 900px) {
  body {
      font-size: 156%;
  }
}
@media only screen and (min-width: 930px) {
  body {
      font-size: 158%;
  }
}
@media only screen and (min-width: 960px) {
  body {
      font-size: 160%;
  }
}










