body {
  font-size: 100%;
  color: rgb(70, 70, 70);
}

a {
  color: rgb(0, 160, 160);
}

a:hover {
  color: rgb(0, 220, 220);
}

.parallax__img {
    display: block;
    min-width: 100%;
    max-width: 120%;
    min-height: 100%;
}

.parallax1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    height: 100vh;
}
  .parallax1__screen {
      position: absolute;
      top: 0;
      left: 0;
      height: 100vh;
      width: 100vw;
    background-color: white;
    opacity: 1;
  }

  .parallax1__screen--go {
    animation: sink-screen 1.5s forwards ease-in;
  }

  .parallax1__header {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 2vw;
      height: fit-content;
    border-radius: 5px;
    animation: header-fade-in 3s 0.75s forwards;
  }

    .parallax__header__h1 {
        max-width: fit-content;
        margin: 0;
      color: rgb(255, 255, 205);
      transition: color 1s ease;
      font-size: 600%;
    }

    .parallax__header__h1:hover {
      color: rgb(197, 230, 241);
    }

      .parallax__header__h1 span {
        margin: -5px;
        position: relative; /* needed for z-index to work */

      }

        .z1 {z-index: 1}
        .z2 {z-index: 2}
        .z3 {z-index: 3}
        .z4 {z-index: 4}
        .z5 {z-index: 5}
        .z6 {z-index: 6}
        .z7 {z-index: 7}
        .z8 {z-index: 8}
        .z9 {z-index: 9}
        .z10 {z-index: 10}
        .z11 {z-index: 11}
        .z12 {z-index: 12}
        .z13 {z-index: 13}
        .z14 {z-index: 14}
        .z15 {z-index: 15}

    .parallax1__header__h5 {
      color: white;
      opacity: 0;
      animation: h5-fade-in 2s .5s forwards ease;
    }

.about {
    display: flex;
    flex-direction: row;
    height: 92vh;
}

  .about__left {
      display: flex;
      flex-direction: column;
      align-items: center;
      min-width: 30vw;
  }

    .about__left__myPhoto {
        height: 18vw;
        width: 18vw;
        margin: 10vh auto 3vh auto;
        /* flex-shrink: 2; */
      border-radius: 100px;
      box-shadow: 
        0px -2px 0 black,
        0px 2px 0 black,
        -2px -2px 0 magenta,
        2px 2px 0 magenta,
        -4px 0px 0 yellow,
        4px 0px 0 yellow,
        -3px 3px 0 cyan,
        3px -3px 0 cyan;
    }

    .about__left__h5 {
        /* display: none; */
      letter-spacing: 2px;
      font-size: 180%;
    }

    .about__left__h5--show {
      display: block;
    }

      .about__left__h5 span {
          font-size: 150%;
          text-shadow: 
            -1px -1px 0 magenta,
            1px 1px 0 magenta,
            -2px -2px 0 yellow,
            2px 2px 0 yellow,
            -4px -4px 0 cyan,
            4px 4px 0 cyan;
        }

  .about__right {
      display: flex;
      flex-direction: column;
      width: 70vw;
      height: fit-content;
      margin: 10vh 5vw 10vh auto;
      padding: 2vh 3vw;
    background-color: lightyellow;
    border-radius: 5px;
    box-shadow:
      -2px 0px 0 darkgrey,
      2px 0px 0 darkgrey;
  }
    
    .introduction__p {
      letter-spacing: 1.5px;
    }

nav {
    position: relative;
    z-index: 1;
    height: 8vh;
    background-color: white;
    padding-bottom: 1vh;
  box-shadow: 0 2px 1px 0 rgba(30, 30, 30, 0.25);
}

  .tabs {
      height: 7vh;
      width: 100vw;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
  }

.carousel-container {
    position: relative;
    z-index: 0;
}

.carousel {
    height: 92vh !important;
    width: 100vw !important;
}

  #portfolio {
    background-color: rgb(255, 230, 255);
  }

    .tile-container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        height: 92vh;
      /* animation: portfolio-expand 1s reverse; */
    }
    
    .tile { 
        position: relative;
        border: 10px solid white;
      background-color: rgb(255, 255, 255);
      border-radius: 100%;
      box-shadow: 0 3px 10px -1px rgba(0, 0, 0, 0.4);
      transition-duration: 1s;
      color: rgba(255, 255, 255, 0);
      overflow: hidden;
    }

    .tile:hover {
        top: 0;
        width: 60vw;
        height: 87vh;
        margin: 3vh;
      border-radius: 10px;
      color: rgb(70, 70, 70);
    }

      .tile--small1 {
        top: -10vh;
        height: 15em;
        width: 15em;
      }
      .tile--small2 {
        top: -20vh;
        height: 15em;
        width: 15em;
      }
      .tile--med {
        top: 0;
        height: 20em;
        width: 20em;
      }
      .tile--large {
        top: 10vh;
        height: 30em;
        width: 30em;
      }

      .tile__links-container {
          display: flex;
          flex-direction: row;
          justify-content: flex-end;
          height: 15%;
        opacity: 0;
        transition-duration: 1s;
      }
        .tile:hover .tile__links-container {
          opacity: 1;
        }

        .tile__link {
            height: 30px;
            width: 30px;
            margin: 15px 15px 0 0;
          background-size: cover;
        }
          /* icon by Austin Andrews (@Templarian on twitter) */
          .tile__link--github {            
            background-image: url('images/icons/github-circle-dark.png');
          }
          /* icon by Austin Andrews (@Templarian on twitter) */
          .tile__link--github:hover {
            background-image: url('images/icons/github-circle-light.png')
          }
          /* icon by Google (@Google on twitter) */
          .tile__link--deployed {
            background-image: url('images/icons/web-dark.png')
          }
          /* icon by Google (@Google on twitter) */
          .tile__link--deployed:hover {
            background-image: url('images/icons/web-light.png')
          }

      .tile__info {
          height: 50%;
          width: 100%;
      }

        .tile__info__h4 {
            text-align: center;
            margin: 0 auto;
            
          font-size: 150%;
          color: rgb(70, 70, 70);
        }

        .tile__info__h6{
            text-align: center;
            margin: 2% 5% 3% 5%;
          font-size: 85%;
          color: rgb(20, 20, 20);
          font-weight: bold;
        }

        .tile__info__description {
            margin: 10px 30px;
            line-height: 1.5;
      letter-spacing: 1px;
      word-spacing: 1px;
        }

      .tile__image {
          position: absolute;
          top: 50%;
          height: 50%;
          width: 100%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
      }
      .tile__image--hanoi {
        background-image: url('images/tower_of_hanoi.png')
      }
      .tile__image--memorTree {
        background-image: url('images/memorTree.png')
      }
      .tile__image--codePOS {
        background-image: url('images/codePOS.png')
      }
      .tile__image--ga-aha {
        background-image: url('images/GA-Aha.png')
      }

  #resume {
      display: flex !important;
      flex-direction: row;
    background-color: rgb(255, 255, 220);    
  }

    .resume__h5 {
        margin: 2vw 3vw 1vw 3vw;
    }

    .collapsible-header {
        padding: 5px;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

      .collapsible-header__icon {
          height: 25px;
          width: 25px;
          margin: 5px;
        opacity: .8;
      }
    
      .collapsible-header__content {
          margin: 5px;
      }

      .collapsible-header__content p {
          margin: 0;
        font-size: 80%;
        color: darkgrey;
      }

    .collapsible-body {
      line-height: 1.75;
      letter-spacing: 1px;
      word-spacing: 1px;
      background-color: #fff7f7;
    }

    .resume__left {
        width: 60vw;
        margin: 10px;
        padding: 5px !important;
        height: 92vh;
        overflow: scroll;
    }

    .resume__right {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 40vw;
        height: 92vh;
        margin: 10px 10px 10px 0;
        padding: 5px;
        overflow: scroll;
    }

      .resume__right .collapsible {
          width: 30vw;
      }

      .resume__right .collapsible-header {
        padding: 15px;
      }

  #contact {
    background-color: rgb(220, 255, 255);
  }
    
    .contact__container {
        display: flex;
        flex-direction: row;
        /* justify-content: space-around; */
        height: 92vh;
        width: 100vw;
    }

    .contact__left {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 92vh;
        width: 75vw;
    }

      .form-container {
          z-index: 1;
          width: 50vw;
      }
        
        .form-container__h5 {
          text-align: center;
        }

        input {
            margin: 0 !important;
        }

        textarea {
            margin: 0 !important;
        } 

        .button-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 5px;
        }

      .contact__left__triangle {
          position: absolute;
          height: 0;
          width: 0;
          top: 2vh;
          border-left: 45vw solid transparent;
          border-right: 45vw solid transparent;
          border-bottom: 90vh solid white;
      }
    
    .contact__right {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 25vw;
        height: 92vh;
    }

      .contact__right__links {
          z-index: 1;
          position: absolute;
          margin: 50px auto;
        text-align: center;
      }

        .contact__right__links li {
            margin: 5px 40px;
          text-align: left;
        }

      .contact__right__triangle {
          position: absolute;
          height: 0;
          width: 0;
          border-top: 90vh solid white;
	        border-left: 90vh solid transparent;
      }


@keyframes sink-screen {
  0% {
    background-color: rgb(204, 230, 240);
    z-index: 16;
    opacity: 1;
  }
  20% {
    z-index: 12;
  }
  80% {
    opacity: 0.4;
    z-index: 4;
    background-color: rgb(204, 230, 240);
  }
  100% {
    background-color: white;
    z-index: 0;
    opacity: 0.1;
  }
}

@keyframes header-fade-in {
  0% {
    background-color: rgba(255, 255, 255, 0);
  }
  100% {
    background-color: rgba(48, 48, 34, 0.4);
  }
}

@keyframes h5-fade-in {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}
